.btnTrash {
    background-image: url("../styles/trash-alt-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    border: none;
    background-color: white;
}

.checkBox {
    align-self: center;
}

.isDone {
    text-decoration: line-through;
}